.titulo {
    color: #FF6F61; 
}

.subtitulo {
    color: #7EC0EE; 
}

.personajes-lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.personajes-principales,
.maldiciones {
    margin-bottom: 20px;
}

.separador {
    border: 1px dashed #FF6F61; 
}

.disclaimer {
    color: #7EC0EE; 
}

.boton-fin {
    background-color: #FF6F61; 
    color: white; 
    padding: 10px 20px;
    border: 1px;
    cursor: pointer;
    font-family: 'Lexend', sans-serif;
}

.boton-fin:hover {
    background-color: #B22222;
     
}

body {
    font-family: 'Lexend', sans-serif;
    background-color: black;
    color: white;
}
.minimenu{
    height: 50px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    text-align: center;
  }
  .minimenuimages {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 7px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .minimenutext {
    margin-top: 10px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    right: 100%; 
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown.active .dropdown-content {
    display: block;
  }
  .minimenu{
      background-color: #000000;
    }
  
    .dropdown-content {
      background-color: #ffffff;
      border: 1px solid #000000;
    }
  
    .dropdown-content a {
      color: #000;
    }
    
    .dropdown-content a:hover {
      background-color: #172136;
      color: #fff;
    }
    body {
      opacity: 0;
      animation: fadeIn 2s ease-in-out forwards;
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  a{
  padding: 8px 16px;
  display: inline-block;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
  a:hover {
    background: #000000;
    color: rgb(255, 255, 255);
    padding: 32px;
    border: 1px solid rgb(255, 255, 255);
  }
  p {
    width: 0; 
    white-space: nowrap; 
    overflow: hidden; 
    animation: writeIn 3s linear forwards; 
  }
  
  @keyframes writeIn {
    to {
      width: 100%;
    }
  }