.imagenes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nombrepers {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.izquierda {
    margin-right: auto;
}

.derecha {
    margin-left: auto;
}

.nombrepers a {
    text-decoration: none;
    color: #000; 
    transition: color 0.3s; 
    margin: 0 10px; 
}


.nombrepers a:hover {
    color: #bda9a0; 
}

.tablaimg {
    width: 112px;
    height: 200px;
    border: 1px solid #000000;
    padding: 10px;
    border-spacing: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}

.filaimg {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

.textoimg {
    text-align: center;
}

.imagen-Yuta {
    float: right;
}

.imgpers {
    float: right;
    border: 1px solid #000000;
    border-spacing: 0;
    text-align: center;
}

.textpers {
    text-align: center;
    color: black; 
}
.containerskill{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
}
.containertabla{
    border: 1px solid  #000000;
}


body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Lexend', sans-serif;
}
th{
    text-align: center;
}

.titutabla{
    text-align: center;
}
nav ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff; 
}
@media (max-width: 768px) {
    .imagenes-container {
        display: block;
    }


    .nombrepers {
        flex-direction: column;
        align-items: center;
    }

    .izquierda, .derecha {
        margin: 10px 0; 
        text-align: center; 
    }

    .nombrepers a {
        display: block;
        margin: 10px 0;
    }


    .tablaimg {
        width: 100%; 
        margin: 10px 0;
    }


    .imagen-itadori, .imgpers {
        float: none;
    }

    body {
        background-color: #ffffff;
        color: black;
        font-family: 'Lexend', sans-serif;
    }


    th, .titutabla {
        text-align: center;
    }

    nav ol {
        display: block;
    }

    nav li {
        margin: 10px 0; 
    }

    nav a {
        display: block;
        margin: 10px 0; 
    }
    .containerskill {
        display: block;
    }

    .containertabla {
        width: 100%;
    }

    .titutabla {
        font-size: 1.5em;
    }

    td figure {
        width: 100%;
        height: auto;
    }
}