.imagenes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nombrepers {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.izquierda {
    margin-right: auto;
}

.derecha {
    margin-left: auto;
}

.nombrepers a {
    text-decoration: none;
    color: #ffffff; 
    transition: color 0.3s; 
    margin: 0 10px; 
}


.nombrepers a:hover {
    color: #ffffff; 
}

.tablaimg {
    width: 112px;
    height: 200px;
    border: 1px solid #ffffff;
    padding: 10px;
    border-spacing: 0;
    margin-left: 20px;
}

.filaimg {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

.textoimg {
    text-align: center;
}

.imagen-panda {
    float: right;
}

.imgpers {
    float: right;
    border: 1px solid #ffffff;
    border-spacing: 0;
    text-align: center;
}

.textpers {
    text-align: center;
    color: black; 
}
.containerskill{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
}
.containertabla{
    border: 1px solid  #ffffff;
}


body {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: 'Lexend', sans-serif;
}
th{
    text-align: center;
}

.titutabla{
    text-align: center;
}
nav ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    color: #867878; 
}